@import "./../tokens/colors";
@import "./../tokens/spacings";
@import "./../tokens/typos";

.header {
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  animation: reveal-text-up 1s ease-in-out 0.4s both;
  background-color: $color-bg-claro;

  &.transparent {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 5, 0.5) 0%,
      rgba(0, 0, 5, 0) 100%
    );

    a {
      transition: all 0.5s ease-in-out;
      color: $color-claro !important;
    }

    img {
      transition: all 0.5s ease-in-out;
      filter: invert(100%);
    }
  }

  &__container {
    padding: $space $space_x2;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    @include display-grid;
    @include grid-template-columns(1fr 1fr 1fr);
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-right: $space_x2;
    text-decoration: none;
    color: $color-oscuro;

    img {
      width: 100px;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 100%;
    }

    h1 {
      @include font-size(25px);
    }
  }

  &__menu {
    button {
      padding: 0;
      display: flex;
      font-weight: $black;
      border: none;
      outline: none;
      cursor: pointer;
      background-color: transparent;

      &:hover {
        background-color: transparent !important;
      }
    }

    svg {
      width: 50px;
    }
  }

  &__links {
    padding: $space_half;
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-radius: 50px;
    border: 1px solid $color-oscuro;
    background-color: $color-claro;

    a {
      padding: $space_half $space;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 0 $space_half;
      font-weight: $medium;
      text-decoration: none;
      border-radius: 25px;
      transition: all 0.3s ease-in-out;
      color: $color-oscuro;
      @include font-size(14px);

      &.active {
        color: $color-claro;
        background-color: $color-primario;

        &:hover {
          color: $color-claro;
        }
      }

      &:hover {
        color: $color-primario;
      }
    }
  }

  select {
    margin: 0 0 0 auto;
    max-width: max-content;
    outline: none;
    border: 1px solid $color-oscuro;
    border-radius: 5px;
    font-family: $Fuente1;
    font-weight: $bolder;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    color: $color-oscuro;
  }
}
