---
import { changeLanguage } from "i18next";
import Layout from "@ui/layouts/Layout.astro";
import "@ui/assets/scss/index.scss";

changeLanguage("es");
---

<Layout title="Welcome to Kev.Coder Portfolio">
  <main>
    <h1>Hero</h1>
  </main>
</Layout>
